/*
 * Yellowgrid
 *   author : Matthew Lein
 *   url : https://github.com/matthewlein/yellowgrid
 *
 * Inspired heavily by:
 *   (starting point)
 *   Proportional Grids https://github.com/mattberridge/Proportional-Grids/
 *   (theory and naming)
 *   CSSWizardry Grids https://github.com/csswizardry/csswizardry-grids
 */
/*
 * Yellowgrid
 *   author : Matthew Lein
 *   url : https://github.com/matthewlein/yellowgrid
 *
 * Inspired heavily by:
 *   (starting point)
 *   Proportional Grids https://github.com/mattberridge/Proportional-Grids/
 *   (theory and naming)
 *   CSSWizardry Grids https://github.com/csswizardry/csswizardry-grids
 */
/* line 48, ../sass/_yellowgrid-builder.scss */
.grid {
  margin-left: -18px;
  clear: both;
}
/* line 23, ../sass/_yellowgrid-builder.scss */
.grid:after, .grid:before {
  content: "";
  display: table;
}
/* line 27, ../sass/_yellowgrid-builder.scss */
.grid:after {
  clear: both;
}
/* line 30, ../sass/_yellowgrid-builder.scss */
.grid {
  *zoom: 1;
}

/* line 55, ../sass/_yellowgrid-builder.scss */
.grid__col {
  float: left;
  padding-left: 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 65, ../sass/_yellowgrid-builder.scss */
.grid--reverse .grid__col {
  float: right;
}

/* line 71, ../sass/_yellowgrid-builder.scss */
.grid--double-gutter {
  margin-left: -36px;
}
/* line 40, ../sass/_yellowgrid-builder.scss */
.grid--double-gutter .grid__col {
  padding-left: 36px;
}

/* line 75, ../sass/_yellowgrid-builder.scss */
.grid--half-gutter {
  margin-left: -9px;
}
/* line 40, ../sass/_yellowgrid-builder.scss */
.grid--half-gutter .grid__col {
  padding-left: 9px;
}

/* line 79, ../sass/_yellowgrid-builder.scss */
.grid--no-gutter {
  margin-left: 0;
}
/* line 40, ../sass/_yellowgrid-builder.scss */
.grid--no-gutter .grid__col {
  padding-left: 0;
}

/* line 83, ../sass/_yellowgrid-builder.scss */
.grid--reset-gutter {
  margin-left: -18px;
}
/* line 40, ../sass/_yellowgrid-builder.scss */
.grid--reset-gutter .grid__col {
  padding-left: 18px;
}

/* line 89, ../sass/_yellowgrid-builder.scss */
ul.grid,
ol.grid {
  padding-left: 0;
  list-style: none;
}

/* line 94, ../sass/_yellowgrid-builder.scss */
li.grid__col {
  margin-left: 0;
  margin-bottom: 0;
}

/* line 118, ../sass/_yellowgrid-builder.scss */
.palm,
.palm--1,
.palm--full {
  width: 100%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--1_2 {
  width: 50%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--1_3 {
  width: 33.33333%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--1_4 {
  width: 25%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--1_5 {
  width: 20%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--2_3 {
  width: 66.66667%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--2_4 {
  width: 50%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--2_5 {
  width: 40%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--3_4 {
  width: 75%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--3_5 {
  width: 60%;
}

/* line 129, ../sass/_yellowgrid-builder.scss */
.palm--4_5 {
  width: 80%;
}

/* line 157, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_2 .grid__col {
  width: 50%;
}

/* line 157, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_3 .grid__col {
  width: 33.33333%;
}

/* line 157, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_4 .grid__col {
  width: 25%;
}

/* line 157, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_5 .grid__col {
  width: 20%;
}

/* line 191, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_2 .grid__col:nth-child(2n+1) {
  clear: both;
}

/* line 191, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_3 .grid__col:nth-child(3n+1) {
  clear: both;
}

/* line 201, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_3 .grid__col:nth-child(2n+1) {
  clear: none;
}

/* line 191, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_4 .grid__col:nth-child(4n+1) {
  clear: both;
}

/* line 201, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_4 .grid__col:nth-child(3n+1) {
  clear: none;
}

/* line 201, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_4 .grid__col:nth-child(2n+1) {
  clear: none;
}

/* line 191, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_5 .grid__col:nth-child(5n+1) {
  clear: both;
}

/* line 201, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_5 .grid__col:nth-child(4n+1) {
  clear: none;
}

/* line 201, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_5 .grid__col:nth-child(3n+1) {
  clear: none;
}

/* line 201, ../sass/_yellowgrid-builder.scss */
.grid--set--palm--1_5 .grid__col:nth-child(2n+1) {
  clear: none;
}

/* line 232, ../sass/_yellowgrid-builder.scss */
.palm--push--0,
.palm--push--none {
  position: static;
  left: 0%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--1_2 {
  position: relative;
  left: 50%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--1_3 {
  position: relative;
  left: 33.33333%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--1_4 {
  position: relative;
  left: 25%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--1_5 {
  position: relative;
  left: 20%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--2_3 {
  position: relative;
  left: 66.66667%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--2_4 {
  position: relative;
  left: 50%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--2_5 {
  position: relative;
  left: 40%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--3_4 {
  position: relative;
  left: 75%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--3_5 {
  position: relative;
  left: 60%;
}

/* line 243, ../sass/_yellowgrid-builder.scss */
.palm--push--4_5 {
  position: relative;
  left: 80%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--1_2--centered {
  position: relative;
  left: 25%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--1_3--centered {
  position: relative;
  left: 33.33333%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--1_4--centered {
  position: relative;
  left: 37.5%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--1_5--centered {
  position: relative;
  left: 40%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--2_3--centered {
  position: relative;
  left: 16.66667%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--2_4--centered {
  position: relative;
  left: 25%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--2_5--centered {
  position: relative;
  left: 30%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--3_4--centered {
  position: relative;
  left: 12.5%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--3_5--centered {
  position: relative;
  left: 20%;
}

/* line 277, ../sass/_yellowgrid-builder.scss */
.palm--4_5--centered {
  position: relative;
  left: 10.0%;
}

/* line 291, ../sass/_yellowgrid-builder.scss */
.palm--hidden {
  display: none;
}

/* line 294, ../sass/_yellowgrid-builder.scss */
.palm--visible {
  display: block;
}

@media only screen and (min-width: 500px) {
  /* line 118, ../sass/_yellowgrid-builder.scss */
  .lap,
  .lap--1,
  .lap--full {
    width: 100%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--1_2 {
    width: 50%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--1_3 {
    width: 33.33333%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--1_4 {
    width: 25%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--1_5 {
    width: 20%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--2_3 {
    width: 66.66667%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--2_4 {
    width: 50%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--2_5 {
    width: 40%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--3_4 {
    width: 75%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--3_5 {
    width: 60%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .lap--4_5 {
    width: 80%;
  }

  /* line 157, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_2 .grid__col {
    width: 50%;
  }

  /* line 157, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_3 .grid__col {
    width: 33.33333%;
  }

  /* line 157, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_4 .grid__col {
    width: 25%;
  }

  /* line 157, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_5 .grid__col {
    width: 20%;
  }

  /* line 191, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_2 .grid__col:nth-child(2n+1) {
    clear: both;
  }

  /* line 191, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_3 .grid__col:nth-child(3n+1) {
    clear: both;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_3 .grid__col:nth-child(2n+1) {
    clear: none;
  }

  /* line 191, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_4 .grid__col:nth-child(4n+1) {
    clear: both;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_4 .grid__col:nth-child(3n+1) {
    clear: none;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_4 .grid__col:nth-child(2n+1) {
    clear: none;
  }

  /* line 191, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_5 .grid__col:nth-child(5n+1) {
    clear: both;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_5 .grid__col:nth-child(4n+1) {
    clear: none;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_5 .grid__col:nth-child(3n+1) {
    clear: none;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--lap--1_5 .grid__col:nth-child(2n+1) {
    clear: none;
  }

  /* line 232, ../sass/_yellowgrid-builder.scss */
  .lap--push--0,
  .lap--push--none {
    position: static;
    left: 0%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--1_2 {
    position: relative;
    left: 50%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--1_3 {
    position: relative;
    left: 33.33333%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--1_4 {
    position: relative;
    left: 25%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--1_5 {
    position: relative;
    left: 20%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--2_3 {
    position: relative;
    left: 66.66667%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--2_4 {
    position: relative;
    left: 50%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--2_5 {
    position: relative;
    left: 40%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--3_4 {
    position: relative;
    left: 75%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--3_5 {
    position: relative;
    left: 60%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .lap--push--4_5 {
    position: relative;
    left: 80%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--1_2--centered {
    position: relative;
    left: 25%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--1_3--centered {
    position: relative;
    left: 33.33333%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--1_4--centered {
    position: relative;
    left: 37.5%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--1_5--centered {
    position: relative;
    left: 40%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--2_3--centered {
    position: relative;
    left: 16.66667%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--2_4--centered {
    position: relative;
    left: 25%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--2_5--centered {
    position: relative;
    left: 30%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--3_4--centered {
    position: relative;
    left: 12.5%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--3_5--centered {
    position: relative;
    left: 20%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .lap--4_5--centered {
    position: relative;
    left: 10.0%;
  }

  /* line 291, ../sass/_yellowgrid-builder.scss */
  .lap--hidden {
    display: none;
  }

  /* line 294, ../sass/_yellowgrid-builder.scss */
  .lap--visible {
    display: block;
  }
}
@media only screen and (min-width: 979px) {
  /* line 118, ../sass/_yellowgrid-builder.scss */
  .desk,
  .desk--1,
  .desk--full {
    width: 100%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--1_2 {
    width: 50%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--1_3 {
    width: 33.33333%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--1_4 {
    width: 25%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--1_5 {
    width: 20%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--2_3 {
    width: 66.66667%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--2_4 {
    width: 50%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--2_5 {
    width: 40%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--3_4 {
    width: 75%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--3_5 {
    width: 60%;
  }

  /* line 129, ../sass/_yellowgrid-builder.scss */
  .desk--4_5 {
    width: 80%;
  }

  /* line 157, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_2 .grid__col {
    width: 50%;
  }

  /* line 157, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_3 .grid__col {
    width: 33.33333%;
  }

  /* line 157, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_4 .grid__col {
    width: 25%;
  }

  /* line 157, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_5 .grid__col {
    width: 20%;
  }

  /* line 191, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_2 .grid__col:nth-child(2n+1) {
    clear: both;
  }

  /* line 191, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_3 .grid__col:nth-child(3n+1) {
    clear: both;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_3 .grid__col:nth-child(2n+1) {
    clear: none;
  }

  /* line 191, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_4 .grid__col:nth-child(4n+1) {
    clear: both;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_4 .grid__col:nth-child(3n+1) {
    clear: none;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_4 .grid__col:nth-child(2n+1) {
    clear: none;
  }

  /* line 191, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_5 .grid__col:nth-child(5n+1) {
    clear: both;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_5 .grid__col:nth-child(4n+1) {
    clear: none;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_5 .grid__col:nth-child(3n+1) {
    clear: none;
  }

  /* line 201, ../sass/_yellowgrid-builder.scss */
  .grid--set--desk--1_5 .grid__col:nth-child(2n+1) {
    clear: none;
  }

  /* line 232, ../sass/_yellowgrid-builder.scss */
  .desk--push--0,
  .desk--push--none {
    position: static;
    left: 0%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--1_2 {
    position: relative;
    left: 50%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--1_3 {
    position: relative;
    left: 33.33333%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--1_4 {
    position: relative;
    left: 25%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--1_5 {
    position: relative;
    left: 20%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--2_3 {
    position: relative;
    left: 66.66667%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--2_4 {
    position: relative;
    left: 50%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--2_5 {
    position: relative;
    left: 40%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--3_4 {
    position: relative;
    left: 75%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--3_5 {
    position: relative;
    left: 60%;
  }

  /* line 243, ../sass/_yellowgrid-builder.scss */
  .desk--push--4_5 {
    position: relative;
    left: 80%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--1_2--centered {
    position: relative;
    left: 25%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--1_3--centered {
    position: relative;
    left: 33.33333%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--1_4--centered {
    position: relative;
    left: 37.5%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--1_5--centered {
    position: relative;
    left: 40%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--2_3--centered {
    position: relative;
    left: 16.66667%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--2_4--centered {
    position: relative;
    left: 25%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--2_5--centered {
    position: relative;
    left: 30%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--3_4--centered {
    position: relative;
    left: 12.5%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--3_5--centered {
    position: relative;
    left: 20%;
  }

  /* line 277, ../sass/_yellowgrid-builder.scss */
  .desk--4_5--centered {
    position: relative;
    left: 10.0%;
  }

  /* line 291, ../sass/_yellowgrid-builder.scss */
  .desk--hidden {
    display: none;
  }

  /* line 294, ../sass/_yellowgrid-builder.scss */
  .desk--visible {
    display: block;
  }
}
