/*
 * Yellowgrid
 *   author : Matthew Lein
 *   url : https://github.com/matthewlein/yellowgrid
 *
 * Inspired heavily by:
 *   (starting point)
 *   Proportional Grids https://github.com/mattberridge/Proportional-Grids/
 *   (theory and naming)
 *   CSSWizardry Grids https://github.com/csswizardry/csswizardry-grids
 */

//-------------------------------------------------------
// GRID SETTINGS
//-------------------------------------------------------

// this is the fixed gutter between columns
$grid-gutter: 20px;

// number of columns you want
$grid-columns: 7;

// do you want grid sets?
$grid-sets : true;
// do you want set "rows" to autoclear? (IE9+)
$grid-sets-clearing : true;

// do you want push classes?
$grid-push : true;

// do you want centering classes?
$grid-center : true;

// these set your grid and column class names. Not recommended to change, but you can.
$grid-wrap-class: "grid";
$grid-col-class: "grid__col";

// Import the builder
@import 'yellowgrid-builder';

// --------------------------------------------------------------------- //
// RESPONSIVE SETTINGS
// --------------------------------------------------------------------- //

// Breakpoint vars
$bp-lap: 'only screen and (min-width: 500px)';
$bp-desk: 'only screen and (min-width: 979px)';

// Mobile first! no breakpoint
// Palm-based devices like a mobile phone
@include grids-init('palm');

// Breakpoint for lap-based devices like tablets, ipads, laptops
@media #{$bp-lap} {
    @include grid-setup('lap');
}

// Breakpoint for desk-based devices like computers or TVs
@media #{$bp-desk} {
    @include grid-setup('desk');
}